.collapse-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    width: 1023px;
    z-index: 2;
}
  
.collapse-title{
    margin: 0;
}
  
.collapse-content{
    background-color: #F6F6F6;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    width: 1023px;
    padding: 0;
    max-height: 0;
}

.collapse-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

.rotate-back{
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.open {
    max-height: 100px;
    animation: unwrap 0.3s ease-out;
    overflow: hidden;
    padding: 20px;
}

.close {
    padding: 0;
    max-height: 0;
    animation: unwrap-back 0.3s ease-out;
    overflow: hidden;
}

@keyframes unwrap {
    from {
        transform: translateY(-200%);
        max-height: 0;
        height: 1px;
    }
    
    to{
        transform: translateY(0);
        height: 44px;
        max-height: 100px;
    }
}   

@keyframes unwrap-back {
    from {
        transform: translateY(0);
        max-height: 100px;
        height: 44px;
        padding: 20px;
    }
    
    to{
        transform: translateY(-200%);
        height: 1px;
        max-height: 0;
        padding: 0px;
    }
}   


@media only screen and (max-width: 768px) {

    .collapse-container{
        margin-bottom: 0;
    }

    .collapse-header {
      width: calc(100% - 20px);
      padding: 10px;
      height: 10px;
    }

    .collapse-title{
        font-size: 13px;
    }

    .collapse-content {
        width: calc(100% - 20px);
        font-size: 12px;
    }

    .open {
        padding: 10px;
    }

    .fa-chevron-up{
        font-size: 20px;
    }
}
